* {
	padding: 0;
}

.jumbotron {
	background: url(images/brrigido.png) no-repeat;
	height: 916px;
	width: 916px;
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid;
	padding: 0;
}
#brigido {
	height: 916px;
	width: 916px;
}